<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">
    <targets>
        <target xsi:type="File"
            name="fileTarget"
            fileName="./Logs/Log-${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${callsite} | ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=5}"
            archiveFileName="./Logs/Log-${shortdate}.{#}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Rolling"
            archiveEvery="Day"
            maxArchiveFiles="15"
            concurrentWrites="true"
            keepFileOpen="false" />
        <target xsi:type="File"
                    name="errFileTarget"
                    fileName="./Logs/LogErr-${shortdate}.log"
                    layout="${longdate} | ${level:uppercase=true} | ${logger} | ${callsite} | ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=5}"
                    archiveFileName="./Logs/Log-${shortdate}.{#}.log"
                    archiveAboveSize="10485760"
                    archiveNumbering="Rolling"
                    archiveEvery="Day"
                    maxArchiveFiles="15"
                    concurrentWrites="true"
                    keepFileOpen="false" />
        <target xsi:type="File"
                           name="manualDefectFileTarget"
                           fileName="./Logs/ManualDefect-${shortdate}.log"
                           layout="${message}"
                           archiveFileName="./Logs/ManualDefect-${shortdate}.{#}.log"
                           archiveAboveSize="10485760"
                           archiveNumbering="Rolling"
                           archiveEvery="Day"
                           maxArchiveFiles="15"
                           concurrentWrites="true"
                           keepFileOpen="false" />
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" maxlevel="Warn" writeTo="fileTarget" />
        <logger name="*" minlevel="Error"  writeTo="errFileTarget" />
        <logger name="CTClient.UpdateSampleWindow" minlevel="Debug" writeTo="manualDefectFileTarget" />
    </rules>
</nlog>